colorlover==0.3.0
matplotlib==3.10.3
numpy==2.2.6
pandas==2.2.3
plotly==6.1.1
scikit-learn==1.6.1
scipy==1.15.3
tqdm==4.67.1
psutil==7.0.0
nbformat==5.10.4
kaleido==0.2.1
ffmpeg-python==0.2.0
streamlit==1.45.1
orjson==3.10.18
watchdog==6.0.0